/* -------------------------------- 

File#: _1_grid-background
Title: Grid Background
Descr: Grid background pattern
Usage: codyhouse.co/license

-------------------------------- */

.grid-bg-fx {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.grid-bg-fx__grid {
  height: 100%;

  > * {
    position: relative;
    margin-bottom: 0 !important;
  }

  > *::before, *::after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: currentColor;
  }

  > *::before {
    left: -1px;
  }

  > *::after {
    right: 0;
  }
}